*{
    max-width: 100%;
}

body{
    margin: 0;
    max-width: 100%;
}

header {
    background-color: #1c3829;
    color: white;
}

#logo {
    width: 15%;
    padding: 20px;
}

#logo img {
    width: 80%;
}

#topo{
    background-color: #215535;
    color: #f6ffe1;
    padding: 20px;
    padding-bottom: 15px;
}

#tituloMeio{
    background-color: #215535;
    color: #f6ffe1;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#infoAluno{
    display: grid;
    grid-template-columns: 6fr 4fr;
}


