*{
    max-width: 100%;
}

body{
    margin: 0;
    max-width: 100%;
}

header {
    background-color: #1c3829;
    color: white;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

#logo {
    width: 15%;
    padding: 20px;
}

#logo img {
    width: 80%;
}

/*Partes do CSS referentes à página principal*/

footer {
    background-color: #215535;
    color: #f6ffe1;
}

footer a {
    text-decoration: underline !important;
}

footer h4 {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer h6 {
    display: inline;
}

#conteudoAutoria {
    display: flex;
    gap: 20px;
}

#topo {
    background-color: #215535;
    color: #f6ffe1;
    padding: 20px;
    padding-bottom: 15px;
}

#tituloMeio {
    background-color: #215535;
    color: #f6ffe1;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.card:hover {
    background-color: #d2ff98;
}

.col .card {
    border: solid #3a7c47 1px;
} 

.card img {
    border: solid #afe46a 1px;
}

#infoAluno {
    padding: 20px;
    padding-bottom: 20px;
    background-color: #1c3829;
    color: white;
}

/*Partes do CSS referentes à página de detalhes*/

#sessaoFotos {
    padding: 20px 25px;
    margin-top: 0;
    background-color: #1c3829;
    color: white;
    text-align: center;
}

#roloFotos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c3829;
    color: white;
}

#sessaoFotos img {
    height: 16.9rem;
    width: auto;
    border: black solid 1px;
    margin-top: 10px;
}
 
#pagAlbum {
    margin: 20px 0;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 4fr 6fr;
}

#conteudoAlbum {
    margin: 20px 0;
    text-align: center;
}

#conteudoAlbum img {
    max-height: 400px;
    padding: 7px;
    border: #283e0f solid 1px;
}

#infoPrincipais {
    margin-top: 10px;
}

#infoPrincipais h6 {
    display: inline;
}

/*MediaQuerys*/

@media screen and (max-width: 480px) {
    #logo {
        width: 100%;
        display: block     
    }

    #logo img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    #pagAlbum {
        display: block;
        margin: 0 auto;
        padding: 20px;
    }

    #roloFotos {
        display: block;
        margin: 0 auto;
    }

    #sessaoFotos img {
        width: 75%;
        height: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
    #logo {
        width: 100%;
        display: block     
    }

    #logo img {
        width: 35%;
        display: block;
        margin: 0 auto;
    }

    #topo {
        text-align: center;
    }

    #tituloMeio {
        text-align: center;
    }

    #pagAlbum {
        display: block;
        margin: 0 auto;
        padding: 20px;
    }

    #roloFotos {
        display: block;
        margin: 0 auto;
    }

    #sessaoFotos img {
        width: 75%;
        height: auto;
    }
}





